.reqField {
    position: relative;
}

.fieldName, .reqTextField {
    display: inline-block;
}

.fieldName {
    margin: 10px 15px 10px 0px;
    width: 85px;
    font-size: 1em;
    text-align: right;
}

.loginfield {
    display:block;
    width: 100px;
    height: 12px;
    margin: 10px 5px;
    padding: 6px;
    border: 2px solid #A5CACC;
    font-size: .9em;
}

.reqTextField {
    display: inline-block;
    width: 200px;
    height: 20px;
    margin: 10px 5px;
    padding: 6px;
    border: 2px solid #A5CACC;
    font-size: .9em;
}

.textBox {
    width: 400px;
    height: 150px;
    vertical-align: top;
}

.invalidWarning {
  display: none;
  color: #f01010;
}

.submitBtn {
    padding: 5px 12px;
    background-color: #417D7F;
    border-radius: 25px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
}

#signupBtn {
    margin: 10px 5px 5px 235px;
}

#loginBtn {
    margin: 5px;
  
}

.submitBtn:hover {
    background-color: #10f010;
    color: #fff; 
    cursor:pointer;
}

.error {
    color: #f01010;
}

.errorBottom {
    height: 20px;
    margin: 0 10px 15px 0;
    font-size: .9em;
    color: #f01010;
}

.success {
    color: #10f010;
}

.successBottom {
    height: 20px;
    margin: 0 10px 15px 0;
    font-size: .9em;
    color: #10f010;
    float: left;
}

.tooltipIcon {
    width: 20px;
    height: 20px;
    vertical-align: -5px;
    display: inline-block;
}

.tooltip {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 290px;
    width: 155px;
    margin: 0px 0px 0px 108px;
    padding: 7px 10px;
    background-color: #fff;
    border: 2px solid #A5CACC ;
    border-radius: 12px;
    font-size: .8em;
    color: #333;
}

.profileTT {
    left: 372px;
}

.difficultySelect {
    display: block;
    margin: 15px 0;
}

.difficultySelect:hover {
    cursor: pointer;
}

#startPuzzle {
    float: right;
}

