.reqField {
    position: relative;
}

.fieldName, .reqTextField {
    display: inline-block;
}

.fieldName {
    margin: 10px 15px 10px 0px;
    width: 85px;
    font-size: 1em;
    text-align: right;
}

.loginfield {
    display:block;
    width: 165px;
    height: 12px;
    margin: 10px 5px;
    padding: 6px;
    border: 2px solid #9ACEF2;
    font-size: .9em;
}

.placeholderTxt {
    font-style: italic;
    color: #aaa;
}

.smallLink:link, .smallLink:hover, .smallLink:visited, .smallLink:active {
    display: inline-block;
    margin: -4px 5px 0 0;
    font-size: .8em;
    float: right;
}

.smallLink2:link, .smallLink2:hover, .smallLink2:visited, .smallLink2:active {
    display: inline-block;
    margin: 0;
    font-size: .8em;
}


.reqTextField {
    display: inline-block;
    width: 200px;
    height: 20px;
    margin: 10px 5px;
    padding: 6px;
    border: 2px solid #9ACEF2;
    font-size: .9em;
}

.textBox {
    width: 400px;
    height: 150px;
    vertical-align: top;
}

.invalidWarning {
  display: none;
  color: #f01010;
}

.submitBtn {
    padding: 5px 12px;
    background-color: #337CC1;
    border-radius: 25px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
}

#signupBtn {
    margin: 10px 5px 5px 235px;
}

#loginBtn {
    margin: 0px 7px;
}

.submitBtn:hover {
    background-color: #10f010;
    color: #fff; 
    cursor:pointer;
}

.error {
    margin: 10px 5px 5px 5px;
    color: #f01010;
    font-size: .8em;
}

.errorBottom {
    height: 20px;
    margin: 0 10px 15px 0;
    font-size: .9em;
    color: #f01010;
}

.success {
    color: #10f010;
}

.successBottom {
    height: 20px;
    margin: 0 10px 15px 0;
    font-size: .9em;
    color: #10f010;
    float: left;
}

.tooltipIcon {
    width: 20px;
    height: 20px;
    vertical-align: -5px;
    display: inline-block;
}

.tooltip {
    display: none;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 260px;
    width: 250px;
    margin: 0px 0px 0px 108px;
    padding: 7px 10px;
    background-color: #fff;
    border: 2px solid #9ACEF2 ;
    border-radius: 12px;
    font-size: .8em;
    color: #333;
}

.profileTT {
    left: 372px;
}



