.profilePic {
    margin: 15px;
    margin-left: 25px;
    float: left;
}

#profileInfo {
    width: 645px;
    margin: 15px;
    margin-left: 50px;
    float: left;
}

.profileLeft {
    width: 50%;
    float: left;
}

.profileRight {
    width: 50%;
    float: right;
}

.fieldName {
    margin: 10px 15px 10px 0px;
    width: 85px;
    font-size: 1em;
    text-align: left;
}

.reqTextField {
    width: 320px;
    margin: 10px 5px;
    padding: 6px;
    resize: none;
    border: 2px solid #A5CACC;
    font-size: .9em;
}

.textBox {
    width: 320px;
    height: 150px;
    vertical-align: top;
}

.submitBtn {
    margin: 10px 5px 5px 310px;
    padding: 5px 12px;
    background-color: #417D7F;
    border-radius: 25px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
}

.submitBtn:hover {
    background-color: #10f010;
    color: #fff; 
    cursor:pointer;
}

a.submitBtn {
    display: inline-block;
    color: #fff;
    margin: 10px 0;
}
