#puzzle {
	position: relative;;
	width: 355px;
	margin: 0 auto;
	padding: 10px;
	background-color: #4a5a99;
}

#hidePuzzle {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 365px;
	height: 365px;
	background-color: #000;
}

.cell {
	display: inline-block;
	vertical-align: top;
	width: 35px;
	height: 35px;
	margin: 2px;
	background-color: #ffffff;
	text-align: center;
	font-size: 2em;
	color: black;
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.botThick {
	margin-bottom: 4px;
}

.rightThick {
	margin-right: 4px;
}

.userCell {
	color: #36c;
}

.errorCell {
	color: red;
}

.focusCell {
	background-color: #dee0f0;
}

.messed {
	width: 30px;
	height: 30px;
	background-color: #ecc;
	border: 0px;
}

.puzzleBtn {
	margin: 10px;
    padding: 5px 12px;
    background-color: #417D7F;
    border-radius: 25px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
}

.puzzleBtn:hover {
   background-color: #10f010;
    color: #fff; 
    cursor:pointer;
}