* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	background-color: #000;
	font-family: Arial, sans-serif;
	color: #333;
}

h1 {}
h2 {margin: 0 0 15px 0; font-size: 1.5em; color: #417D7F;}
h3 {font-size: 1.3em; color: #417D7F;}
h4 {margin: 20px 0 2px 0; font-size: 1em; }

p {
	margin: 0 5px 25px 0;
	font-size: 1em;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	font-size: 1em;
	color: #417D7F;
}

a:hover, a:active {
	color: #d1d88d;
}

.clearfloat {
	height: 0px;
	clear: both;
}

#wrapper {
	width: 950px;
	margin: 0 auto;
	padding: 10px 10px;
	background-color: #fff;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#nav {
	width: 970px;
	height: 60px;
	margin: 0 auto;
	margin-bottom: 0;
	background-color: #193441;
	border-bottom: 5px solid #417D7F;
	text-align: right;
	color: #417D7F;

}

#nav a {
	display: inline-block;
	margin: 23px 15px;
}

#contentLeft {
	width: 190px;
	margin: 20px 0 30px 15px;
	padding: 10px 20px;
	background-color: #eef;
	float: left;
}

#contentRight {
	width: 630px;
	margin: 20px 35px 20px 35px;
	float: right;
}

.stat {
	margin: 2px 0;
	font-size: .8em;
}

#examplePuzzle {
	float: left;
	width: 272px;
	height: 274px;
}

#newGame {
	float: left;
	margin: 0 0 0 60px;
}

#difficultySelection {
	width: 250px;
	float: left;
}

.difficultySelect {
	display: block;
	width: 200px;
    padding: 5px 12px;
    margin: 5px 0;
    border: 3px solid #fff;
    border-radius: 25px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
}

.difficultySelect:focus {
	outline: none;
}

.selected {
	border-color: #aac;
}

#easy {background-color: #21de0d;}
#medium {background-color: #f3f600;}
#hard {background-color: #f6bf00;}
#vhard {background-color: #f63a00;}

.disabledBtn {
	background-color: red;
	opacity: .3;
}

.difficultySelect:hover {
    cursor: pointer;
}

#startPuzzle {

}

#currentGames {
	float: right;
}

#foot {
	margin: 5px 0;
	text-align: center;
	color: #fff;
	font-size: .9em;
}

.spaceInlineLeft {
	display: inline-block;
	width: 150px;
}

.spaceInlineRight {
	display: inline-block;
	float: right;
}
