* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	background-color: #000;
	font-family: Arial, sans-serif;
	color: #333;
}

h1 {}
h2 {margin: 0 0 15px 0; font-size: 1.5em}
h3 {font-size: 1.1em}
h4 {}

p {
	margin: 0 5px 15px 0;
	font-size: 1em;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	font-size: 1em;
	color: #417D7F;
}

a:hover, a:active {
	color: #d1d88d;
}

.clearfloat {
	height: 0px;
	clear: both;
}

#wrapper {
	width: 950px;
	margin: 0 auto;
	padding: 10px 10px;
	background-color: #fff;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#nav {
	width: 970px;
	height: 60px;
	margin: 0 auto;
	margin-bottom: 0;
	background-color: #193441;
	border-bottom: 5px solid #417D7F;
	text-align: right;
}

#nav a {
	display: inline-block;
	margin: 23px 15px;
}

#contentLeft {
	width: 280px;
	margin: 10px 0 20px 20px;
	float: left;
}

#contentLeftBot {
	width: 280px;
	margin: 10px 0 20px 20px;
	float: left;
}

#contentRight {
	width: 650px;
	margin-top: 10px;
	float: right;
}


#foot {
	margin: 5px 0;
	text-align: center;
	color: #fff;
	font-size: .9em;
}
