* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	background-color: #000;
	font-family: Arial, sans-serif;
	color: #333;
}

h1 {}
h2 {margin: 0 0 15px 0; font-size: 1.5em; color: #337CC1;}
h3 {font-size: 1.3em; color: #337CC1;}
h4 {margin: 20px 0 2px 0; font-size: 1em; }

p {
	margin: 0 5px 25px 0;
	font-size: 1em;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	font-size: 1em;
	color: #337CC1;
}

a:hover, a:active {
	color: #9ACEF2;
}

.clearfloat {
	height: 0px;
	clear: both;
}

#wrapper {
	width: 950px;
	margin: 0 auto;
	padding: 10px 10px;
	background-color: #fff;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#nav {
	width: 970px;
	margin: 0 auto;
	background-color: #022259;
	border-bottom: 5px solid #337CC1;
	color: #337CC1;
}

#logo {
	margin: 15px 0 7px 45px;
}

#contentLeft {
	width: 190px;
	margin: 20px 0 30px 15px;
	padding: 10px 20px;
	background-color: #C2E0FF;
	border-radius: 20px;
	float: left;
}

.stat {
	margin: 2px 0;
	font-size: .8em;
}

#contentRight {
	width: 630px;
	margin: 20px 35px 20px 35px;
	float: right;
}

.spaceInlineLeft {
	display: inline-block;
	width: 120px;
}

.spaceInlineRight {
	display: inline-block;
	float: right;
}

#examplePuzzle {
	float: left;
	width: 272px;
	height: 274px;
}

#newGame {
	float: left;
	margin: 0 0 0 60px;
}

#startPuzzle {
	width: 200px;
	height: 70px;
	margin: 0 0 15px 0;
    background-color: #13458A;
	font-size: 1.5em;
	color: #fff;
}

#startPuzzle:hover {
	background-color: #10f010;
}

#difficultySelection {
	width: 250px;
	float: left;
}

.difficultySelect {
	display: block;
	width: 200px;
    padding: 5px 12px;
    margin: 5px 0;
    background-color: #337CC1;
    border: 3px solid #fff;
    border-radius: 25px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
}

.difficultySelect:focus {
	outline: none;
}

.difficultySelect:hover {
    cursor: pointer;
    color: #10f010;
}

.selected {
	border-color: #10f010;
}

.disabledBtn {
	opacity: .5;
	display: block;
	width: 150px;
	margin: 5px 0;
    padding: 5px 12px;
    background-color: #337CC1;
    border-radius: 25px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
}

.disabledBtn:hover {
	background-color: #337CC1;
}

#currentGames {
	float: right;
	margin-right: 80px;
}

#foot {
	margin: 5px 0;
	text-align: center;
	color: #fff;
	font-size: .9em;
}
